src/main/xsd/VirtualCollection.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:cmd="http://www.clarin.eu/cmd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcr="http://www.isocat.org/ns/dcr" xmlns:ann="http://www.clarin.eu" targetNamespace="http://www.clarin.eu/cmd/" elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo>
            <ann:Header>
                <ann:ID>clarin.eu:cr1:p_1404130561238</ann:ID>
                <ann:Name>VirtualCollection</ann:Name>
                <ann:Description>A component for describing personalized sets of metadata descriptions</ann:Description>
            </ann:Header>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:simpleType name="simpletype-Status-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration value="draft" dcr:datcat="http://www.isocat.org/datcat/DC-4381" ann:label=""/>
            <xs:enumeration value="published" dcr:datcat="http://www.isocat.org/datcat/DC-4383" ann:label=""/>
            <xs:enumeration value="deprecated" dcr:datcat="http://www.isocat.org/datcat/DC-4385" ann:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="simpletype-Reproducability-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fluctuating" dcr:datcat="" ann:label="Processing results may vary"/>
            <xs:enumeration value="intended" dcr:datcat="" ann:label="Processing results can be expected to remain stable"/>
            <xs:enumeration value="untended" dcr:datcat="" ann:label="No claims with respect to the stability of the processing results are made"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="simpletype-Purpose-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration value="research" dcr:datcat="" ann:label="The virtual collection bundles resources that are relevant to a specific research (question)"/>
            <xs:enumeration value="reference" dcr:datcat="" ann:label="The virtual collection bundles resources, that are to be cited in a publication"/>
            <xs:enumeration value="future use" dcr:datcat="" ann:label="The purpose of this virtual collection is not specified yet. Used in published collection is advised against"/>
            <xs:enumeration value="sample" dcr:datcat="" ann:label="This virtual collection bundles is intended to serve as an sample for research data"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Resourcetype_simple">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Metadata">
                <xs:annotation>
                    <xs:documentation>The ResourceProxy refers to another component metadata
                        instance (e.g. for grouping metadata descriptions into
                        collections)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Resource">
                <xs:annotation>
                    <xs:documentation>The ResourceProxy refers to a file that is not a metadata
                        instance (e.g. a text document)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SearchService">
                <xs:annotation>
                    <xs:documentation>The ResourceProxy refers to a (SRU/CQL) web service that can be used to query the resource described in this file</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SearchPage">
                <xs:annotation>
                    <xs:documentation>The ResourceProxy refers to a web page that can be used to query the resource described in this file</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LandingPage">
                <xs:annotation>
                    <xs:documentation>The ResourceProxy refers to a web page that contains the "original context" of the resource described in this file (e.g. repository web page displaying the metadata).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Status-1---">
        <xs:simpleContent>
            <xs:extension base="cmd:simpletype-Status-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="complextype-Reproducability-1---">
        <xs:simpleContent>
            <xs:extension base="cmd:simpletype-Reproducability-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="complextype-Purpose-1---">
        <xs:simpleContent>
            <xs:extension base="cmd:simpletype-Purpose-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="CMD">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MdCreator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="MdCreationDate" type="xs:date" minOccurs="0"/>
                            <xs:element name="MdSelfLink" type="xs:anyURI" minOccurs="0"/>
                            <xs:element name="MdProfile" type="xs:anyURI" minOccurs="0"/>
                            <xs:element name="MdCollectionDisplayName" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Resources">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ResourceProxyList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceProxy">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="ResourceType">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="cmd:Resourcetype_simple">
                                                                    <xs:attribute name="mimetype" type="xs:string"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="ResourceRef" type="xs:anyURI"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="JournalFileProxyList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="JournalFileProxy">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="JournalFileRef" type="xs:anyURI"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ResourceRelationList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRelation">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="RelationType"/>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="Res1">
                                                        <xs:complexType>
                                                            <xs:attribute name="ref" type="xs:IDREF"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="Res2">
                                                        <xs:complexType>
                                                            <xs:attribute name="ref" type="xs:IDREF"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="IsPartOfList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="IsPartOf" type="xs:anyURI"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Components">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="VirtualCollection" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-6119" minOccurs="1" maxOccurs="1" ann:displaypriority="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CreationDate" dcr:datcat="http://www.isocat.org/datcat/DC-2510" type="xs:date" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="Status" dcr:datcat="http://www.isocat.org/datcat/DC-3818" minOccurs="1" maxOccurs="1" type="cmd:complextype-Status-1---"/>
                                        <xs:element name="Reproducability" minOccurs="0" maxOccurs="1" type="cmd:complextype-Reproducability-1---" ann:documentation="An indication of the degree to which results obtained from processing of the present collection can be expected to be stable"/>
                                        <xs:element name="Purpose" dcr:datcat="http://www.isocat.org/datcat/DC-6151" minOccurs="0" maxOccurs="1" type="cmd:complextype-Purpose-1---" ann:documentation="An indication of the intended usage of the present virtual collection"/>
                                        <xs:element name="ReproducabilityNotice" minOccurs="0" maxOccurs="1" ann:documentation="Optional notes describing the expected reproducibility of processing results in more detail">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Origin" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Keyword" dcr:datcat="http://www.isocat.org/datcat/DC-5436" minOccurs="0" maxOccurs="unbounded" ann:documentation="A word or short phrase signifying a salient facet of the present virtual collection">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Creator" minOccurs="1" maxOccurs="unbounded" dcr:datcat="http://www.isocat.org/datcat/DC-6714">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-2512" minOccurs="1" maxOccurs="1" ann:displaypriority="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Email" dcr:datcat="http://www.isocat.org/datcat/DC-2521" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Organisation" dcr:datcat="http://www.isocat.org/datcat/DC-2459" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="ref" type="xs:IDREFS"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Resource" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Label" dcr:datcat="http://www.isocat.org/datcat/DC-2544" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="ref" type="xs:IDREFS"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="GeneratedBy" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520" minOccurs="1" maxOccurs="1" ann:documentation="A prose description of the procedure by which the collection items can be retrieved from the external service">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="URI" dcr:datcat="http://www.isocat.org/datcat/DC-5643" type="xs:anyURI" minOccurs="1" maxOccurs="1" ann:documentation="The location of the service from which the items should be retrieved. This value may be a persistent identifier, but could also be a plain URI although this is advised against for published collections." ann:displaypriority="3"/>
                                                    <xs:element name="QueryProfile" minOccurs="1" maxOccurs="1" ann:documentation="Identifier of the mechanism, i.e. the protocol to be used, by which the members of the virtual collection should be retrieved. A application exploiting the query can use this to use a proper driver to talk to the service. Example: In case of CLARIN-FCS access the endpoint by FCS-compatible means." ann:displaypriority="2">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="QueryValue" minOccurs="1" maxOccurs="1" ann:documentation="The query that should be passed on to the service by which it can look up the items that are part of this collection. This value should be in the query language supported by the service. Example: In case of CLARIN-FCS, this value is the CQL query to be send to the endpoint." ann:displaypriority="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string"/>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="ref" type="xs:IDREFS"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="CMDVersion" fixed="1.1" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>